.bg-footer {
    background-color: #000;

}
.redes {
    object-fit: cover;
}

.redesI{
width: 70px;
height: 70px;
}
.redesf{
    width: 70px;
    height: 70px;
    }
    .redest{
        width: 70px;
        height: 70px;
        }


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    padding: 0;
    margin-bottom: 5px;
}